@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
  height : 100vh;
  
}

body {
  background: #000;
  height: 400vh;
  font-family: 'Rubik', sans-serif;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: tranlate(-50%, -50%);
  max-height: 100vh;
  max-width: 100vw;
}